<div class="row">
<div class="col">
<h1 class="font-weight-light mb-3">Register</h1>
<partial name="RegistrationForm">
</div>
<div class="col">
<div class="col">
<div class="col">
<h1 class="font-weight-light mb-3"> Log In</h1>
<partial name="LoginForm">
</div>
</div>