@model IndexViewModel

<form asp-action="Login" asp-controller="Home" method="post">
    <div class="form-group">
        <div class=col>
            <label asp-for="loginUser.Email">Email: </label>
        </div>
        <div class=col>
            <input class="form-control" asp-for="loginUser.Email">
        </div>
        <div class=col>
            <span asp-validation-for="loginUser.Email"></span>
        </div>
    </div>
    <div class="form-group">
        <div class=col>
            <label asp-for="loginUser.Password">Password: </label>
        </div>
        <div class=col>
            <input class="form-control" asp-for="loginUser.Password">
        </div>
        <div class=col>
            <span asp-validation-for="loginUser.Password"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col">
            <input class="btn btn-secondary" type="submit" value="Log In">
        </div>
    </div>
</form>

